
@{
    ViewBag.Title = "DataTran";
}

<h2>DataTran</h2>
<h2>@ViewBag.Name</h2>
<h2>@ViewBag.username</h2>
<h2>@ViewBag.Age</h2>
<h2>@ViewBag.Email</h2>
<h2>@ViewData["Name"]</h2>

Author <em>Lê Quang Thọ</em>
